*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}

.bigdiv{

  background-color:aqua;
  height: 500px;
}

.steve{
  background-color: bisque;
  height: 200px;
  width: 300px;
  margin-left: 150px;
  padding: 50px;
}

