*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}

.bigdiv{

  background-color:aqua;
height: 500px;
}

.steve{
  background-color: bisque;
  height: 300px;
  width: 500px;
  margin-left: 150px;
  padding: 50px;
  /* float: right; */
}

img{
  height: 200px;
/* float: right; */
margin-left: 60%;
margin-bottom: 50px;


}
